* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, html ul, html a, body {
    font-family: 'Arial', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#1b6953;
    --second-main-color:#0f3f31;
    --icon-color:grey;
    --icon-text-colo:grey;
    --bg-color:white;
    --text-color:white;
}

.container-fluid {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .8rem 10%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
    border-bottom: 1px solid black;
}
.logo{
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}
.sp02{
    display: flex;
    align-items: center;
    width: 100%;
}
.navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}
.navbar-item .navlink a {
    margin-right: 3.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--icon-color);
    position: relative;
    transition: color 0.3s ease, font-weight 0.3s ease;
}
.navbar-item .navlink a::before
{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: -15px;
    height: .1rem;
    background-color: var(--main-color);
    transition: .3s ease;

}
.navbar-item .navlink a:hover,.navbar-item .navlink a:hover::before {
    
    color: black;
    width: 100%;
}

.component{
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-left:10%;
}
.search-bar{
    display: flex;
    align-items: center;
    border-radius: 5rem;
    width: 20vw;
    height: 2.5rem;
    background-color: transparent;
    padding: .5rem;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
}
.search-bar i{
    font-size: 1.4rem;
    margin-right: 2%;
    color:var(--icon-color);

}
.search-bar input{
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;

}
.component .button{
    display: flex;
}
.btn {
    background-color:var(--bg-color);
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: 100;
    margin-left: 4rem;
    color: var(--icon-text-colo);
    background-color: transparent;
    
}
#menu
{
    display: none;
    
}
.notification{
    background-color: var(--second-main-color);
    color: white;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.notification a{
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid white;
    padding: .5rem 1rem;
    border-radius: 5rem;
    letter-spacing: 1px;
    font-size: 1rem;
}
.notification a:hover{
    background-color: var(--bg-color);
    color: var(--second-main-color);
    border-color: var(--second-main-color);
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--bg-color);
    height: auto;
    width: 100%;
    height: auto;

}
.inner-menu-container{
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.menu-item{

    margin-top: 2%;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-item h5{
    margin-top: 10%;
    /* color: white; */
}
.menu-image {
    max-width: 100%; /* Set maximum width to 100% of the parent container */
    height: 100%; /* Allow the height to adjust proportionally */
    border-radius: 50%;
    object-fit: cover;
}

.recommends-section{

    width: 100%;
    height: auto;
    background-color: gainsboro;
    padding: 1rem 4rem;
}
.content{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    margin-bottom: 2%;
}
.content a{
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;

}
.slide-container{
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    overflow: hidden;
  }

   
  
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}  
.swiper-button-next i,
.swiper-button-prev i{
    color: var(--main-color) !important;
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
    padding: .4rem;
    box-shadow: 0px 0px 36px -9px rgba(0,0,0,0.75);

}

.food-card {
    background-color: #fff;
    color: rgb(59, 57, 57);
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: row; 
    padding: 1rem;
    border: .5px solid rgba(104, 103, 103, 0.815);
    transition: transform 0.5s ease; /* Adjusted the transition duration */
}

.food-image {
    max-width: 100px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: transform 0.5s ease-in-out;
}

.food-details {
    padding-left: 1rem;
}

.food-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1%;
    color: black;
}

.food-description {
    font-size: .7rem;
    margin-bottom: 1rem;
}

.food-price {
    font-size: 1rem;
    font-weight: bold;
    gap: 2rem;
    align-items: center;
}

.food-price span {
    margin-right: 5rem;
}

.btn2 {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    border: none;
    outline: none;
    background-color: var(--main-color);
    cursor: pointer;
}
/* csss for normal slider */

.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid gainsboro;
  }
.card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center center;
} 

  .card-content {
    padding: 20px;
  }

  .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }

  .card-description {
    color: #666;
  }

  .price {
    font-size: 1.2em;
    color: #e74c3c;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .price span{
    float: right;
  }

footer{
    background-color: var(--second-main-color);
    width: 100%;
    height: auto;
    color: white;
    padding: 5rem;
}
footer .container{
    display: flex;
    
}
footer .container .col{
    
    width: 20%;
}
.foter-logo{
    width: 62px;
    height: 62px;

}
.footer-tittle{
    font-size: 1.3rem;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.col ul li {
    margin-top: 9%;
}
.col ul li a{
    color: white;
    font-size: .9rem;
}
.col ul li a:hover{
    color: gray;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.socilas ul {
    display: flex;
    gap: 1rem;
}
.socilas ul li a {
    color: var(--text-color);
    font-size: 2rem;
}
.socilas ul li a:hover{
    color: gray;
}



.playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--bg-color);
    border-radius: 9999px;
    background-color: var(--main-color);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all  .5s ease;
    text-decoration: none;
  }
  
  .playstore-button:hover {
    background-color: transparent;
    color:gray;
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }
 

@media  (max-width: 1333px)
{
    html{
        font-size: 90%;
    }
    
}

@media (max-width:1212px){
    html{
        font-size: 80%;
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 8%;
        background-color:var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        transition: .3s;
    }

    .navbar-item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        
    }
    .navbar-item .navlink a {
        margin-right: 2.5rem;
        font-size: 1rem;
        letter-spacing: 1px;
        color:var(--icon-text-colo);
        position: relative;
        transition: color 0.3s ease, font-weight 0.3s ease;
    }
    .notification{
        padding: 3% 8rem 2% 8rem;
        font-size: 1.1rem;
    }
    .notification a{
        color: var(--text-color);
        background-color: transparent;
        border: 1px solid white;
        padding: .4rem .8rem;
        border-radius: 5rem;
        letter-spacing: 1px;
        font-size: .9rem;
    }

}
@media (max-width:881px)
{
    
    #menu
    {
        display: block;
    }
    .navlink{
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3% 1rem 7rem;
        background-color: var(--bg-color);
        border-top: .1rem solid rgb(0,0,0,.2);
        border-bottom: .1rem solid rgb(0,0,0,.2);
        box-shadow: 0 .5rem 1rem var(--shadow-color);
        display: none;   
    }
    .navlink a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navlink.active{
        display: block;
    }
    .component{
        justify-content: center;
    }
    .component .button .button{
        float: right;
    }
    .search-bar{
        display: flex;
        align-items: center;
        border-radius: 5rem;
        width: 40vw;
        height: 2.5rem;
        background-color: transparent;
        padding: .5rem;
        box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    }
    .btn {
        background-color: var(--bg-color);
        border: none;
        outline: none;
        font-size: 2rem;
        font-weight: 100;
        margin-left: 2rem;
        color: var(--icon-color);
        background-color: transparent;
        
    }
    .menu{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center; 
        align-items: center; 
    }
}

@media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
    .notification{
        padding: 3% 8% 2% 8%;
        font-size: .8rem;
    }
    .notification a{
        color: var(--text-color);
        background-color: transparent;
        border: 1px solid white;
        padding: .4rem .7rem;
        border-radius: 5rem;
        letter-spacing: 1px;
        font-size: .7rem;
    }
    .menu-item{
        width: 80px;
        height: 100px;
     }
     footer .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        
    }
    footer .container .col{
    
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .menu{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center; 
        align-items: center; 
    }
    .menu-item{
        width: 80px;
        height: 100px;
    }
    footer .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        
    }
    footer .container .col{
    
        width: 100%;
    }
    
}   
@media screen and (max-width: 320px) {

    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
    .notification{
        padding: 2% 8% 1% 8%;
        font-size: .6rem;
    }
    .notification a{
        color: var(--text-color);
        background-color: transparent;
        border: 1px solid white;
        padding: .4rem .7rem;
        border-radius: 5rem;
        letter-spacing: 1px;
        font-size: .6rem;
    }
    .recommends-section{

        width: 100%;
        height: auto;
        background-color: gainsboro;
        padding-left: 0;
        padding-right: 0;
    }
    footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
    }
    footer .container .col{
    
        width: 100%;
    }
    .logo{
        width: 30px;
        height: 30px;
    }
    .swiper-button-next,
    .swiper-button-prev{
        opacity: 0;
    }

}    